{% extends 'users/main.html' %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="card" style="width:100%;">        
            <div class="card-body container">


                <p class="row">
                    <a href="{% url 'inbox' %}" class="btn btn-primary btn-circle btn-md" style="margin-left: 10px;">
                    <i class="fas fa-chevron-left"></i>
                    </a>
                </p>

                <h1 class="text-dark"><strong>{{message.subject}}</strong></h1>
                <p style="margin-top: 30px;">
                    <a href="{% url 'user-profile' profile.id %}" class="text-primary" style="font-weight: 700;">
                        {{message.sender.get_full_name}}
                    </a>
                </p>
                <p>{{message.created}}</p>
                <p style="margin-top: 30px;">
                    <div>{{message.body|linebreaksbr}}</div>
                </p>
                    
            </div>
        </div>

    </div>
</div>

{% endblock content %}