{% extends 'users/main.html' %}
{% load static %}
{% block content %}
<div class="container">

            <div class="row">
                
                <div class="col-xs-12 col-md-12 card border-left-primary">
                    
                    <div class="card-body ">
                        {% if patient.staff %}
                        <p>
                            {% if request.user.is_superuser %}
                            Suivi par : 
                                <a href="{% url 'user-profile' patient.staff.id %}"><strong class="text-primary"> {{patient.staff.prenom}} {{patient.staff.nom}}</strong></a>
                            
                            {% endif %} 
                        </p>
                        {% endif %}
                        
                        <div class="table-responsive">
                            <table class="table table-borderless">

                                {% if patient.result == True %}
                                <tr role="row">
                                    <td><h5><strong> Résultat: </strong></h5></td>
                                        
                                    <td class="card bg-danger text-white text-center">
                                        <strong>Positive</strong>
                                        
                                </tr>
                                {% else %}
                                <tr role="row">
                                    <td><h5><strong> Résultat: </strong></h5></td>
            
                                    <td class="card bg-success text-white text-center">
                                        <strong>Negative</strong>
                                        
                                    </td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover">

                                {% if patient.prenom %}
                                <tr role="row">
                                    <td><strong> Prenom: </strong></td>
                                    <td>
                                        {{patient.prenom}}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if patient.nom %}
                                <tr role="row">
                                    <td><strong>Nom: </strong></td>
                                    <td>
                                        {{patient.nom}}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if patient.cin %}
                                <tr role="row">
                                    <td><strong>CIN: </strong></td>
                                    <td>
                                        {{patient.cin}}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if patient.email %}
                                <tr role="row">
                                    <td><strong>Email: </strong></td>
                                    <td>
                                        {{patient.email}}
                                    </td>
                                </tr>
                                {% endif %}
                                {% if patient.location %}
                                <tr role="row">
                                    <td><strong>Ville: </strong></td>
                                    <td>
                                        {{patient.location}}
                                        
                                    </td>
                                </tr>
                                {% endif %}
                                {% if patient.age %}
                                <tr role="row">
                                    <td><strong>Age: </strong></td>
                                    <td>
                                        {{patient.age}}
                                        
                                    </td>
                                </tr>
                                {% endif %}
                                {% if patient.gender %}
                                <tr role="row">
                                    <td><strong>Sexe: </strong></td>
                                    <td>
                                        {{patient.gender}}
                                        
                                    </td>
                                </tr>
                                {% endif %}
                                {% if patient.phone %}
                                <tr role="row">
                                    <td><strong>Telephone: </strong></td>
                                    <td>
                                        {{patient.phone}}
                                        
                                    </td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>

                        
                        <p class="text-center table-responsive">
                            <table class="table table-borderless">
                                
                                <tr role="row">
                                    <td>
                                        <audio controls  style="width: 100%; height: 80px; padding-bottom:17px; background-color: #f0f3f4;">
                                            <source src="{{ patient.soundURL }}" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </td>
                                </tr>
                            </table>
                        </p>

                        <p>
                            <table class="table table-borderless">
                                
                                <tr role="row">
                                    <td><h5><strong>Notification Envoyée :</strong></h5></td>
                                    {% if patient.is_sent == True %}
                                    <td class="card bg-success text-white text-center"><i
                                        class="fas fa-check fa-sm text-white"></i></td>
                                    {% else %}
                                    <td class="card bg-danger text-white text-center"><i
                                        class="fas fa-times fa-sm text-white"></i></td>
                                    {% endif %}
                                </tr>
                                
                            </table>
                        </p>
                        <p>
                            {% if request.user.is_staff and request.user.is_superuser == False %}
                            {% if patient.is_sent == False %}
                            <a href="{% url 'send-result' patient.id %}?next=/admin/patient/{{patient.id}}" class="btn btn-success btn-block shadow-sm">Envoyer</a>
                            {% endif %}
                            {% endif %}

                            {% if patient.staff is None %}
                            {% if patient.is_sent == False %}
                            <a href="{% url 'send-result' patient.id %}?next=/admin/patient/{{patient.id}}" class="btn btn-success btn-block shadow-sm">Envoyer</a>
                            {% endif %}
                            {% endif %}
                        </p>


                    </div>
                   
                
                </div>
                <!-- END CONTENT COL MD 12 -->



            </div>

    
</div>

{% endblock content %}