{% extends 'users/base.html' %}
{% load static %}
{% block content %}


    <style>
      input[type='text'],
      input[type='email'],
      input[type='password']{
      width: 100%;
      padding: 1.2rem 1.5rem;
      border-radius: 0.5rem;
      border: 2px solid #4e73df;
      transition: all 0.3s ease-in-out;
      }
  
      input[type='text']:focus,
      input[type='email']:focus,
      input[type='password']:focus
      input[type='text']:active,
      input[type='email']:active,
      input[type='password']:active {
      outline: none;
      border: 2px solid #4e73df;
      }
  </style>
                    
  
    <div class="container-bg">
        
      
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 mx-auto">
            
            <div class="p-5 bg-white rounded shadow-lg text-center" >
              <div class="text-center">
                
                <h3>Réinitialisez votre mot de passe?</h3>
                <p>Entrez votre adresse email ci-dessous et nous vous enverrons par email les instructions pour créer un nouveau.</p>
              
                <form class="form" method="POST" >
                  {% csrf_token %}
                  <div class="form__field mb-2">
                    {{form}}
                  </div>
        
                  <div class="auth__actions">
                    <input class="btn btn-primary btn-lg w-100 shadow-lg" type="submit" value="Envoyer Les Instructions" />
                  </div>
        
                </form>
                <div class="pt-4">
                  <a href="{% url 'login' %}">Se connecter</a>
                </div>
              </div>
            </div>        
          </div>
        </div>

      </div>
    </div>


</body>




{% endblock content %}