{% extends 'users/base.html' %}
{% load static %}
{% block content %}
      

    <div class="container-bg">
        
      
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 mx-auto">
            
            <div class="p-5 bg-white rounded shadow-lg text-center" >
              <div class="text-center">
                <h3>Réinitialisation du mot de passe envoyée</h3>
                <h3>📩</h3>
                <p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe si un compte existe avec l'e-mail que vous avez entré. Vous devriez les recevoir sous peu.
                </p>
                <p>Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier <strong>`Spam`</strong>.</p>
              
                <p>
                    <div class="auth__alternative">
                        <p>
                            <a class="btn btn-primary btn-lg w-100 shadow-lg" href="{% url 'login' %}">Se connecter</a>
                        </p>
                    </div>
                </p>  
              </div>      
            </div>        
          </div>
        </div>

        
      </div>
    </div>

    

{% endblock content %}