{% extends 'users/main.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="card">        
            <div class="card-body container">

                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    
                    <p><h3 class="text-center">Êtes-vous sûr de vouloir envoyer le résultat à “<strong>{{object}}</strong>”?</h3></p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p><h3><a class="btn btn-secondary btn-block" href="{{request.GET.next}}">Annuler</a></h3></p>
                        </div>
                        <div class="col-sm-6">
                            <p><h3><input class="btn btn-danger btn-block" type="submit" value="Confirm" /></h3></p>
                        </div>

                    </div>
                    
                    
                </form>
            </div>
        </div>
     
    </div>
</div>


{% endblock content %}