{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<section class="contact-section section_padding hero-custom_1">
    <div class="container">
        <div class="row justify-content-center" style="margin-top:20px;">
            
                <div class="">
                    <div class="container">
                        <div class="row" id="bpco">
                            <div class="col-12">
                                <h3 class="contact-title color-green">Qu'est-ce que la BPCO ?</h3>

                                <p>La bronchopneumopathie chronique obstructive, communément appelée BPCO, est un groupe de maladies pulmonaires évolutives.
                                </p><p>Les plus courantes de ces maladies sont <span class="text-primary font-weight-bold">l'emphysème</span> et la <span class="text-primary font-weight-bold">bronchite chronique</span>. De nombreuses personnes atteintes de BPCO ont ces deux conditions.
                                </p><p><span class="text-primary font-weight-bold">L'emphysème</span> détruit lentement les sacs aériens dans vos poumons, ce qui interfère avec le flux d'air vers l'extérieur. <span class="text-primary font-weight-bold">La bronchite</span> provoque une inflammation et un rétrécissement des bronches, ce qui permet au mucus de s'accumuler.
                                </p><p>On estime qu'environ 30 millions de personnes aux États-Unis souffrent de BPCO. Jusqu'à la moitié ne savent pas qu'ils l'ont.
                                </p><p>Non traitée, la BPCO peut entraîner une progression plus rapide de la maladie, des problèmes cardiaques et une aggravation des infections respiratoires.
                                </p>
                            </div>
                            <div class="col-12">
                                <img src="{% static 'img/1.png ' %}" alt="">
                            </div>
                        </div>

                        <div class="row" id="symptomes">
                            <div class="col-12 pt-5" style="margin-top: 50px;">
                                <h3 class="contact-title color-green">Quels sont les symptômes de la BPCO ?</h3>
                                
                                <p>La BPCO rend la respiration plus difficile. Les symptômes peuvent être légers au début, commençant par une toux intermittente et un essoufflement. Au fur et à mesure qu'il progresse, les symptômes peuvent devenir plus constants, là où il peut devenir de plus en plus difficile de respirer.
                                </p>
                                <p>Vous pouvez ressentir une respiration sifflante et une oppression thoracique ou avoir une production excessive d'expectorations. Certaines personnes atteintes de la BPCO présentent des exacerbations aiguës, qui sont des poussées de symptômes graves.
                                </p>
                                <h4 class="text-primary" style="font-weight: 700;">Symptômes de la BPCO</h4>
                                <p>
                                    <span class="text-primary"><i class="ti-angle-right"></i> essoufflement </span><br>
                                    <span class="text-primary"><i class="ti-angle-right text-primary"></i> une respiration sifflante, qui est un type de respiration bruyante et aiguë, en particulier lors des expirations </span><br>
                                    <span class="text-primary"><i class="ti-angle-right text-primary"></i> oppression thoracique </span><br>
                                    <span class="text-primary"><i class="ti-angle-right text-primary"></i> toux chronique, avec ou sans mucus </span><br>
                                    <span class="text-primary"><i class="ti-angle-right text-primary"></i> besoin d'éliminer le mucus de vos poumons tous les jours </span> <br>
                                    <span class="text-primary"><i class="ti-angle-right text-primary"></i> rhumes, grippes ou autres infections respiratoires fréquents</span> <br>
                                    <span class="text-primary"><i class="ti-angle-right text-primary"></i> manque d'énergie</span> <br>
                                    <span class="text-primary"><i class="ti-angle-right text-primary"></i> lassitude</span>
                                </p>
                                <img src="{% static 'img/2.png' %}" alt="">
                                <p>
                                    Les symptômes sont susceptibles d'être bien pires si vous fumez actuellement ou si vous êtes régulièrement exposé à la fumée secondaire.
                                </p>
                            </div>
                            <div class="col-12">
                                <img src="{% static 'img/3.png' %}" alt="">
                            </div>
                        </div>
                       
                        <div class="row" id="causes">
                            <div class="col-12 pt-5" style="margin-top: 50px;">
                                <h3 class="contact-title color-green">Quelles sont les causes de la BPCO ?</h3>
                                
                                <p>
                                    La plupart des personnes atteintes de BPCO ont au moins 40 ans et ont au moins des antécédents de tabagisme. Plus vous fumez longtemps et plus de produits du tabac, plus votre risque de BPCO est grand.
                                </p>
                                <p>
                                    Vous pouvez également développer une BPCO si vous êtes exposé à des produits chimiques et à des fumées sur le lieu de travail. L'exposition à long terme à la pollution de l'air et à l'inhalation de poussière peut également causer la BPCO.
                                </p>
                                <p>
                                    Il peut y avoir une prédisposition génétique au développement de la BPCO. On estime que jusqu'à 5 % de personnes atteintes de BPCO présentent une carence en une protéine appelée alpha-1-antitrypsine.
                                </p>
                            </div>
                            <div class="col-12">
                                <img src="{% static 'img/4.png' %}" alt="">
                            </div>
                        </div>

                        <div class="row" id="diagnostic">
                            <div class="col-12 pt-5" style="margin-top: 50px;">
                                <h3 class="contact-title color-green">Diagnostic de la BPCO</h3>
                                <p>
                                    Pendant l'examen physique, votre médecin utilisera un stéthoscope pour écouter vos poumons pendant que vous respirez. Sur la base de toutes ces informations, votre médecin peut vous prescrire certains de ces tests pour obtenir une image plus complète :
                                </p>
                                <p>
                                    <span class=" text-primary font-weight-bold"><i class="ti-angle-right"></i> La spirométrie</span> est un test non invasif pour évaluer la fonction pulmonaire. Pendant le test, vous prendrez une profonde inspiration, puis soufflerez dans un tube connecté au spiromètre. <br>
                                    <span class=" text-primary font-weight-bold"><i class="ti-angle-right"></i> Des tests d'imagerie</span>, comme une radiographie pulmonaire ou une tomodensitométrie. Ces images peuvent fournir un aperçu détaillé de vos poumons, de vos vaisseaux sanguins et de votre cœur. <br>
                                    <span class=" text-primary font-weight-bold"><i class="ti-angle-right"></i> Un test de gaz du sang artériel.</span> Cela implique de prélever un échantillon de sang dans une artère pour mesurer votre oxygène sanguin, votre dioxyde de carbone et d'autres niveaux importants. <br>
                                </p>
                                <p>
                                    Ces tests peuvent aider à déterminer si vous souffrez de BPCO ou d'une autre maladie, comme l'asthme, une maladie pulmonaire restrictive ou une insuffisance cardiaque.
                                </p>
                            </div>
                        </div>
                        

                        <div class="row" id="traitement">
                            <div class="col-12 pt-5" style="margin-top: 50px;">
                                <h3 class="contact-title color-green">Traitement pour la BPCO</h3>
                                <p>
                                    Le traitement peut soulager les symptômes, prévenir les complications et généralement ralentir la progression de la maladie. Votre équipe de soins peut comprendre un pneumologue (pumonologue) et des physiothérapeutes et inhalothérapeutes.
                                </p>
                                <h4 class="text-primary" style="font-weight: 700;"><i class="ti-angle-right"></i> Oxygénothérapie</h4>
                                <p>
                                    Si votre taux d'oxygène dans le sang est trop bas, vous pouvez recevoir un supplément d'oxygène via un masque ou une canule nasale pour vous aider à mieux respirer. Une unité portable peut faciliter les déplacements.
                                </p>
                                
                                <h4 class="text-primary" style="font-weight: 700;"><i class="ti-angle-right"></i> Chirurgie</h4>
                                <p>
                                    La <span class="color-green font-weight-bold">chirurgie</span> est réservée à la BPCO sévère ou lorsque d'autres traitements ont échoué, ce qui est plus probable lorsque vous souffrez d'une forme d'emphysème sévère.
                                </p>
                                <p>
                                    Un type de chirurgie est appelé <span class="color-green font-weight-bold">bullectomie</span>. Au cours de cette procédure, les chirurgiens enlèvent les grands espaces d'air anormaux (bulles) des poumons.
                                </p>
                                <p>
                                    Une autre est la <span class="color-green font-weight-bold">chirurgie de réduction du volume pulmonaire</span>, qui élimine les tissus pulmonaires supérieurs endommagés. La chirurgie de réduction du volume pulmonaire peut être efficace pour améliorer la respiration, mais peu de patients subissent cette intervention majeure et quelque peu risquée.
                                </p>
                                <p>
                                    La <span class="color-green font-weight-bold">transplantation pulmonaire</span> est une option dans certains cas. La transplantation pulmonaire peut guérir efficacement la BPCO, mais comporte de nombreux risques.
                                </p>
                                <h4 class="text-primary" style="font-weight: 700;"><i class="ti-angle-right"></i> Changements de style de vie</h4>
                                <p>
                                    Certains changements de mode de vie peuvent également aider à soulager vos symptômes ou à vous soulager.
                                </p>
                                <p>
                                    <span style="padding-left:20px;"><i class="ti-arrow-right"></i> Si vous fumez, arrêtez. Votre médecin peut vous recommander des produits ou des services d'assistance appropriés.</span> <br>
                                    <span style="padding-left:20px;"><i class="ti-arrow-right"></i> Dans la mesure du possible, évitez la fumée secondaire et les vapeurs chimiques.</span> <br>
                                    <span style="padding-left:20px;"><i class="ti-arrow-right"></i> Obtenez la nutrition dont votre corps a besoin. Travaillez avec votre médecin ou votre diététicien pour créer un régime alimentaire sain.</span> <br>
                                    <span style="padding-left:20px;"><i class="ti-arrow-right"></i> Discutez avec votre médecin de la quantité d'exercice qui est sans danger pour vous.</span> <br>
                                </p>
                            </div>
                            <div class="col-12">
                                <img src="{% static 'img/5.png' %}" alt="">
                            </div>
                        </div>

                        <div class="row" id="medicaments">
                            <div class="col-12 pt-6" style="margin-top: 50px;">
                                <h3 class="contact-title color-green">Médicaments pour la BPCO</h3>
                                <p>
                                    Les médicaments peuvent réduire les symptômes et réduire les poussées. Cela peut prendre quelques essais et erreurs pour trouver le médicament et le dosage qui vous conviennent le mieux, mais voici quelques-unes de vos options :
                                </p>
                                <p>
                                
                                    <span class="text-primary"><i class="ti-angle-right"></i> Bronchodilatateurs (inhalés)</span><br>
                                    <span class="text-primary"><i class="ti-angle-right"></i> Bêta-agonistes (inhalés) </span><br>
                                    <span class="text-primary"><i class="ti-angle-right"></i> Anticholinergiques (inhalés) </span><br>
                                    <span class="text-primary"><i class="ti-angle-right"></i> Inhibiteurs de la phosphodiestérase-4 (pilule) </span><br>
                                    <span class="text-primary"><i class="ti-angle-right"></i> Théophylline (pilule) </span><br>
                                    <span class="text-primary"><i class="ti-angle-right"></i> Stéroïdes (inhalés ou comprimés) </span><br>
                                
                                </p>
                                
                            </div>
                        </div>

                        
                        <div class="row" id="alimentation">
                            <div class="col-12 pt-5" style="margin-top: 50px;">
                                <h3 class="contact-title color-green">Alimentaion et BPCO</h3>
                                
                                <p>
                                    Les personnes atteintes de BPCO ont des exigences plus élevées en calories en raison de l’effort fourni pour respirer. Les muscles impliqués dans chaque grande respiration utilisent 10 fois plus de calories chez une personne souffrant de BPCO que chez les personnes en bonne santé.
                                </p>
                            </div>
                            <div class="col-12 text-center">
                                <img src="{% static 'img/calories.png' %}" alt="">
                            </div>
                        </div>




                    </div>
                </div>
            
        </div>
    </div>
</section>

{% endblock content %}