{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<section class="contact-section section_padding hero-custom_1">
    <div class="container">
        <div class="row justify-content-center" style="margin-top:20px;">
            
                <div class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="contact-title color-green">Statistiques mondiales de la BPCO</h3>

                                <p>
                                    <i class="ti-angle-right text-primary"></i> La BPCO atteint plus de 251 millions de personnes (4 % à 10% de la population adulte).
                                </p>
                                <p>
                                    <i class="ti-angle-right text-primary"></i> La prévalence exacte de la BPCO dans le monde est largement inconnue, mais les estimations varient de 7 à 19 %. L'étude Burden of Obstructive Lung Disease (BOLD) a révélé une prévalence mondiale de 10,1 %. Les hommes ont une prévalence de 11,8% et les femmes de 8,5%. Les chiffres varient selon les régions du monde.
                                </p>
                                
                                <p>
                                    <i class="ti-angle-right text-primary"></i> La broncho-pneumopathie chronique obstructive (BPCO) est la troisième cause de décès dans le monde, causant 3,23 millions de décès en 2019.
                                </p>
                                <p>
                                    <i class="ti-angle-right text-primary"></i> Plus de 80 % de ces décès sont survenus dans les pays à revenu faible ou intermédiaire (PRFI)
                                </p>
                                <p>
                                    <i class="ti-angle-right text-primary"></i> L'impact économique de la BPCO parmi les PRFI devrait atteindre £1,7 billion d'ici 2030
                                </p>
                                <p>
                                    <i class="ti-angle-right text-primary"></i> Dans 15 ans, la BPCO devrait devenir la principale cause de décès dans le monde
                                </p>
                            </div>
                            
                        </div>

                        <div class="row pt-4">
                            <div class="col-12">
                                <h3 class="contact-title color-green">La BPCO au Maroc</h3>

                                <p>
                                    Il convient de rappeler que la BPCO touche <span class="text-primary font-weight-bold">1,5 million de Marocains, soit plus de 3,9% de la population</span>. Cette maladie reste sous-diagnostiquée et sous-traitée: <span class="text-primary font-weight-bold">2 malades sur 3 atteints de la BPCO ne le savent pas</span>. La maladie évolue généralement de manière lente et progressive, ce qui en fait toute la gravité, puisqu’elle échappe au diagnostic précoce.
                                </p>
                                <p>
                                    À l’horizon 2030, la broncho-pneumopathie chronique obstructive deviendra <span class="text-primary font-weight-bold">la troisième cause de mortalité dans le monde</span>, toutes pathologies confondues. Il s’agit d’un véritable fléau qu’il convient de combattre activement pour stopper sa progression au Maroc, pour se faire il est essentiel que cette maladie soit diagnostiquée à un stade précoce.
                                </p>
                            </div>
                            
                        </div>

                        <div class="row pt-4">
                            <h3 class="contact-title color-green">Prévalence (%) de la BPCO dans les différents pays</h3>

                                
                            <div class="col-12 text-center">
                                <img src="{% static 'img/copd-worldwide.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</section>

{% endblock content %}